<!DOCTYPE html>
<html class="dark">

<head>
    <meta charset="utf-8">
    <title>{{ .Page.Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/svelte/{{ .Site.Data.svelte.css }}" />
    <script type="module" defer src="/svelte/{{ .Site.Data.svelte.js }}" />
    </script>

    <!-- pwa -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon.png" />
    <meta name="theme-color" content="#454e56">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="manifest" href="/manifest.json">

</head>

<body>
    {{ block "header" . }}
    <!-- navbar -->
    {{ end }}
    {{ block "main" . }}
    <!-- main -->
    {{ end }}
    {{ block "footer" . }}
    <!-- footer -->
    {{ end }}
    <scroll-up></scroll-up>
</body>

</html>