{{ define "header" }}
{{ partial "topnav" }}
{{ end }}
{{ define "main" }}
<main class="about container prose dark:prose-invert p-8">
    {{ .Content }}
    {{ with .Params.github }}
    <div class="separator"></div>
    <div class="flex flex-col items-start">
        <h3 class=" font-sans font-bold my-3">Sources</h3>
        <a class="font-display hover:text-blue-500 text-sm" href="{{ . }}">
            {{.}}
        </a>
    </div>
</main>


{{ end }}

{{ end }}

{{ define "footer" }}
{{ partial "footer" }}
{{ end }}