<article class="relative px-8 py-4 m-2 overflow-hidden shadow-xl
    flex flex-col items-center dark:bg-gray6 bg-gray2 y-6 hover:scale-105 
    rounded-xl transition-transform ease-in-out duration-200" href={{ .link }}>

    <h3 class="font-medium text-lg inline-block">{{ .job }} @
        {{ if .website}} <a href="{{.website}}" target="_blank" rel="noopener noreferrer" name="{{ .company}} website"
            class="animated-underline hover:text-red-800">{{
            .company }}</a>
        {{ else }}
        <span>{{ .company }}</span>
        {{ end }}
    </h3>
    <span class="font-medium"> {{ .start }} - {{ .end}}</span>
    <span>{{ .locality }}</span>

    <div class="p-4">
        {{ range .description }}
        <p class="py-4 font-mono dark:text-left text-left">{{ . | markdownify }}</p>
        {{end}}
    </div>
    <tag-list limit={4} tags={{ .tags }} shuffle={true} class="self-start absolute bottom-2" />
</article>