{{ define "header" }}
{{ partial "topnav" }}
{{ end }}

{{ define "main"}}
<main class="prose dark:prose-invert min-w-full text-center">
    <h1 class="text-5xl mt-12">404 Not Found</h1>

    <div class="mx-auto w-24 h-1 my-12 bg-gradient-to-r from-red-600 to-red-400 rounded-full"></div>
    <p>Félicitations vous avez trouvé une page inexistante !</p>
    <img class="mx-auto" src="/img/dance.gif" alt="dancing ghost">
    <a class="btn" href="/">Retour</a>
</main>

{{ end }}

{{ define "footer" }}
{{ partial "footer" }}
{{ end }}