{{define "header" }}
{{partial "topnav"}}
{{ end }}

{{ define "main" }}
<div class="prose dark:prose-invert min-w-full">
    <div class="container">
        <div class="flex flex-col mt-20">
            <div class="flex flex-col justify-center items-center text-center p-6">
                <ui-avatar src="/img/ui/avatar.png" name="Quentin Moessner" email="quentin.moessner@gmail.com" />
            </div>

        </div>
    </div>
</div>

{{ partial "jobs" $.Site.Data.xp}}


{{ end }}



{{ define "footer" }}
{{ partial "footer" }}
{{ end }}