.tag {
    @apply inline-block mr-1 pt-1 pb-1.5 px-2 text-xs rounded-md border-none bg-black bg-opacity-30 text-gray3;
}

.tag-javascript, .tag-js {
    background: #f0db4f;
    color: black;
}

.tag-typescript {
    background: #2775c3;
    color: white;
}

.tag-angular {
    background: #dc0530;
    color: #fff;
}

.tag-node {
    background: #90c53f;
    color: #46483d;
}

.tag-flutter {
    background: #54c5f8;
    color: #003b6c;
}

.tag-svelte {
    color: #ffffff;
    background: #ff3e00;
}

.tag-react {
    color: #00d8ff;
    background: #222;
}

.tag-ionic {
    background: white;
    color: #4a8afc;
}

.tag-nest {
    color: #E0234E;
    background: #000;
}

.tag-css {
    color: #313244;
    background: #f954be;
}

.tag-docker {
    color: #ffffff;
    background: #2496ed;
}

.tag-nextjs {
    color: #ffffff;
    background: #000000;
}

.tag-go {
    color: #ffffff;
    background: #00ADD8;
}

.tag-mongo {
    color: #6eb00c;
    background: #000;
}

.tag-elastic {
    color: #f0db4f;
    background: #000;
}

.tag-k8s {
    color: #4958e3;
    background: #000;
}

.tag-gcp {
  color: #808080;
  background: #000;
}

.tag-gitlab, .tag-github {
    color: #a2310b;
    background: #000;
}

.tag-c,
.tag-vb,
.tag-c,
.tag-access {
  color: #497db7;
  background: #fff;
}

.tag-html {
  color: #000;
  background: #497db7;
}

.tag-css {
  color: #ffffff;
  background: #d20909;
}

.tag-php,
.tag-symphony {
  color: #ffffff;
  background: #9d20db;
}